<h1>Pictures</h1>
<%= link_to("New Picture", "/pictures/new") %>

<%= render 'pictures', pictures: @most_recent_pictures %>

<h3>
  <% if @number_of_older_pictures == 1 %>
    There is one older picture:
  <% else %>
    There are <%= @number_of_older_pictures %> older pictures:
  <% end %>
</h3>

<%= render 'pictures', pictures: @older_pictures %>
